extends layout

block content
  section.row.characters-bg
    a(class="bg-a btn" href="/") Back to Search
    div.characters__wrapper
      div.header__wrapper 
        h1=header
      div
        if chars.length
          each char in chars
            div.oneChar
              div.char-img
                img(src=`https://robohash.org/${char.name}` width='200px' alt='avatar')
              span Name:
              div #{char.name}
              span Birth year:
              div #{char.birth_year}
              span Homeworld:
              div #{char.homeworld}
              span Gender:
              div #{char.gender}
              span Eye_color:
              div #{char.eye_color}
              span Hair_color:
              div #{char.hair_color}
              span Skin_color:
              div #{char.skin_color}
            div
        else
          div There are no characters.